@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.raleway {
  font-family: "Raleway", sans-serif;
}

.info-content-section {
  position: relative;
}

.info-content {
  position: absolute;
  left: 12%;
  top: -85px;
  border-radius: 24px;
}

.info-common {
  border-bottom: 3px solid #1dd100;
  border-radius: 24px;
  padding: 30px 45px;
  background-color: white;
}

.info-common h4 {
  color: #030712;
  font-size: 36px;
  font-weight: bold;
}
.info-common p {
  color: #6d6f74;
  font-size: 18px;
}
.info-common img {
  margin-top: 12px;
}
.offers {
  position: relative;
}
.cupon-devider-15 {
  position: absolute;
  bottom: -1px;
  height: 194px;
  left: 330px;
}
.cupon-devider-20 {
  position: absolute;
  bottom: -1px;
  height: 194px;
  right: 230px;
}
.info-divider-img {
  right: 170px;
  top: -26px;
}
.vis-hide {
  visibility: hidden;
}

.hide {
  display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .banner {
    padding: 50px 20px;
    text-align: center;
    background-size: auto;
    background-position: center;
  }
  .banner h3 {
    font-size: 32px;
  }

  /* info section css */
  .info-content {
    position: relative;
    left: 0;
    top: 0;
    margin: 50px;
  }
  .info-common {
    border: 3px solid #1dd100;
    justify-content: space-between;
    margin: 10px 40px;
    padding: 20px 50px;
  }
  .info-common h4 {
    font-size: 24px;
  }

  /* offer section css */
  .offers-section {
    margin: 0 20px;
  }
  .fifteen-off {
    margin-bottom: 30px;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .twenty-off {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .fifteen-off img {
    display: none;
  }
  .twenty-off img {
    display: none;
  }
  .offer-btn {
    margin-top: 20px;
  }

  /* footer-section starts */
  .footer-section {
    padding: 20px;
  }
  .footer-1 {
    gap: 50px;
    padding-bottom: 30px;
  }
  .footer-1-left h3 {
    font-size: 30px;
  }
  .footer-1-right h5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footer-2-left p {
    text-align: center;
  }
  .footer-2-right {
    gap: 10px;
    font-size: 14px;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  /* paribahan-section starts */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 1024px) {
}
