@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.raleway {
  font-family: "Raleway", sans-serif;
}

.info-content-section {
  position: relative;
}

.info-content {
  position: absolute;
  left: 12%;
  top: -85px;
}

.info-common {
  border-bottom: 3px solid #1dd100;
  border-radius: 20px;
  padding: 30px;
}

.info-common h4 {
  color: #030712;
  font-size: 36px;
  font-weight: bold;
}
.info-common p {
  color: #6d6f74;
  font-size: 18px;
}
