@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.raleway {
  font-family: "Raleway", sans-serif;
}

.info-content-section {
  position: relative;
}

.info-content {
  position: absolute;
  left: 12%;
  top: -85px;
  border-radius: 24px;
}

.info-common {
  border-bottom: 3px solid #1dd100;
  border-radius: 24px;
  padding: 30px 45px;
  background-color: white;
}

.info-common h4 {
  color: #030712;
  font-size: 36px;
  font-weight: bold;
}
.info-common p {
  color: #6d6f74;
  font-size: 18px;
}
.info-common img {
  margin-top: 12px;
}
.offers {
  position: relative;
}
.cupon-devider-15 {
  position: absolute;
  bottom: -1px;
  height: 194px;
  left: 330px;
}
.cupon-devider-20 {
  position: absolute;
  bottom: -1px;
  height: 194px;
  right: 230px;
}
.info-divider-img {
  right: 170px;
  top: -26px;
}
.vis-hide {
  visibility: hidden;
}
